.logo{
    width: 150px;
    height: 40px;
    margin: 0 auto;
    display: block;
    border-radius: 10px;
}
.btn{
    width: px;
    height: 40px;  
}
header{
    display: flex;
    justify-content: space-between;
}
.button{
    background-color: rgb(189, 28, 138);
    padding-right: 2%;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    border: none;
    padding: 10px 10px;
    margin: 0;
}
.om{
    margin-top: 1%;
    margin-bottom: 1%;
}
.logo{
    width: 150px;
 }


body{
    background-color:rgb(10, 10, 10);
    height: 110vh;
}


#btn-ajouter{
    background-color: rgba(0, 172, 193, 1);
    border-radius: 10px;
}
.img-voirplus{
    width: 330px;
}
.description-film{
    color: azure;
}
.film-name{
    color: azure;
}

.col{
    color: azure;
    margin: 0px;
}
.pcolor{
    color:rgba(166, 162, 162, 1) ;
}


.image{
    width: 400px;
    height: 500px;
}





